@media print {
  @page {
    margin: 0;
    size: 80mm 297mm;
  }
  
  body {
    margin: 1cm;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:space-y-2 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.5rem;
  }
}